# Файл: .gitlab-ci.yml
stages:
  - test

broken_test_job:
  stage: test
  script:
    - echo "Running a job that will fail..."
    - exit 1 # Эта команда имитирует неудачный тест
    - echo "This line will never be executed"
